<form
  style="
    display: flex;
    flex-direction: column;
    margin: 3rem 0rem 3rem 0rem;
  "
>
  <h6>Practicalities in place</h6>
  <label for="date">Date</label>
  <input style="width: 20rem;" type="date" id="date" name="date" />
</form>
