<div style="
  display: flex;
  flex-direction: row;
  justify-content: center;
">
  <a style="margin: 0.5rem;" href="/">Home</a>
  <a style="margin: 0.5rem;" href="morning">Morning</a>
  <a style="margin: 0.5rem;" href="/evening">Evening</a>
  <a style="margin: 0.5rem;" href="/#">Trend</a>
</div>