<div style="
  display: flex;
  flex-direction: row;
  justify-content: center;
">
  <a style="margin: 0.5rem;" href="/">Home</a>
  <a style="margin: 0.5rem;" href="/behavior/reporting">Reporting</a>
  <a style="margin: 0.5rem;" href="/behavior/summary">Trends</a>
  <a style="margin: 0.5rem;" href="/auth/login">Login</a>
  <a style="margin: 0.5rem;" href="/auth/registration">Register</a>
</div>