<style>
  .ui-switch {
    display: inline-block;
    position: relative;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 20px;
  }

  .is-animated .ui-button {
    transition: margin ease-out 0.2s, border ease-in 0.2s;
  }

  .ui-checkbox {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .ui-button {
    display: block;
    width: 16px;
    height: 16px;
    margin: 2px 24px 2px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    background-color: #fff;
    border-radius: 9px;
  }

  .ui-checkbox:checked + .ui-button {
    margin: 2px 2px 2px 24px;
    background-color: #7eb36d;
    border-color: #5b9e46;
  }
</style>

<div
  style="
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
  "
>
  <h6 style="padding: 0rem 1rem 0rem 0rem">Morning</h6>
  <div
    class="ui-switch is-animated">
    <input type="checkbox" class="ui-checkbox" />
    <span class="ui-button"></span>
  </div>
  <h6 style="padding: 0rem 0rem 0rem 1rem">Evening</h6>
</div>
