<style>
  .ui-switch {
  display: inline-block;
  position: relative;
  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 20px;
}

.is-animated .ui-button {
  transition: margin ease-out .2s, border ease-in .2s
}

.ui-checkbox {
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.ui-button {
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px 24px 2px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: #fff;
  border-radius: 9px
}

.ui-checkbox:checked+.ui-button {
  margin: 2px 2px 2px 24px;
  background-color: #7EB36D;
  border-color: #5B9E46
}
</style>

<span class="ui-switch is-animated">
  <input type="checkbox" class="ui-checkbox">
  <span class="ui-button"></span>
</span>